{% extends 'base.html' %} 
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Plots and Graphs</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Accuracy and Loss</h5>
                                    <p class="card-text">
                                        <div id="chart_div">
                                            <img src="/static/acc.png" alt="">
                                            
                                        </div>
                                       
                                       
            
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
                   
                    
                </div>  
                  <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Performance</h5>
                                <p class="card-text">
                                    <div id="chart_div">
                                        <img src="/static/performanceChart.png" alt="">
                                        
                                    </div>
                                   
                                   
        
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Dataset</h5>
                        <p class="card-text">
                            <div id="chart_div">
                                <img src="/static/DataSplits.png" alt="">
                                
                            </div>
                            <div id="chart_div2">
                                <img src="/static/DataSplitTwo.png" alt="">
                            </div>
                            <div id="chart_div2">
                                <img src="/static/EmotionCount.png" alt="">
                            </div>
                            <div id="chart_div2">
                                <img src="/static/EmotionCountTwo.png" alt="">
                            </div>
                           

                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Prediction</h5>
                                    <p class="card-text">
                                        <div id="chart_div">
                                            <img src="/static/prediction.png" alt="">
                                            
                                        </div>
                                       
                                       
            
                                    </p>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Accuracy and Loss</h5>
                            <p class="card-text">
                                <div id="chart_div">
                                    <img src="/static/acc.png" alt="">
                                    
                                </div>
                               
                               
    
                            </p>
                        </div>
                    </div>
                </div>
        </div>
            </div>
            {% endblock content %}  
